.container{
    margin: 0 auto;
    display: flex;
    list-style: none;
    overflow: hidden;    
}

.boxContent{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.boxContent .buttonRight {
    position: absolute;
    bottom: 20%;
    height:  500px;
    cursor: pointer;
    right: -1px;
    width: 29px;
    opacity: 0;
}

.boxContent .buttonLeft {
    position: absolute;
    bottom: 20%;
    height: 637px;
    cursor: pointer;
    width: 30px;
    z-index: 1;
    opacity: 0;
}

.loading{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 66.3vh;
    max-width: 1920px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    color: #04a6f5;
    text-align: center;
}

.loading img{
    max-width: 100px;
    margin-bottom: 10px;
    animation: rotationImage;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes rotationImage {
    from{ 
        transform: rotate(0deg);;
    } to {
        transform: rotate(360deg);
    }
}

.loading p {
    margin-left: 15px;
    animation-name: opacityText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes opacityText{
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.error{
    min-height: 69.4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


@media screen and (max-width:360px){
    .error{
        font-size: 30px
    }
}


@media screen and (max-width:767px){
    .container{
        overflow-x: scroll;
        padding-bottom: 5px;
    }

}

@media screen and (min-width:768px) and (max-width:1023px){

    .container{
        overflow: scroll;
        padding-bottom: 5px;
    }
}